[Unit]
Description=Nachthimmel Coburg Web-UI
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/zero/nachthimmel_e-ink/webui.py
WorkingDirectory=/home/zero/nachthimmel_e-ink
Restart=always
RestartSec=10
User=zero

[Install]
WantedBy=multi-user.target
